.container {
  margin: 0 auto;
  width: 40%;
  height: 30%;

  margin-top: 150px;
}

.header {
  text-align: center;
  margin-right: 180px;
}

.f-row {
  display: flex;
}

.f-row h1 {
  background-color: violet;
  padding: 30px;
  border-radius: 30px;
}
.f-row button {
  margin: 50px;
  width: 70px;
}

.f2-row {
  margin-left: 180px;
}

.f2-row button {
  background-color: pink;
}
